Code
GIMP/2.10
Slippi Launcher
SlippiOnline
SlippiPlayback/Config
Vieb
VirtualBox
autostart
cef_user_data/Dictionaries
compiz-1/compizconfig
dconf
enchant
eog
evolution/sources
forge/stylesheet/forge
gedit
gnome-control-center/backgrounds
gtk-2.0
gtk-3.0
gtk-4.0
ibus/bus
inkscape
libfm
libreoffice/4/user
nautilus
neofetch
privateinternetaccess
pulse
obs-studio
tiling-assistant
totem
transmission
unity3d/Team Cherry/Hollow Knight
wireshark
QtProject.conf
qBittorrent
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
nvim
lazygit/state.yml
Microsoft/Microsoft Teams
Unknown Organization
teams
unity3d/Team17 Digital Ltd/Golf With Your Friends
zoomus.conf